@page "/editstudents"

<h1>Edit Student</h1>

<div class="form-element">
    <div class="form-elements">
        <label for="StudentID">Student ID</label>
        <input type="text" placeholder="Student ID" value="A01181039"> 
    </div>
    <div class="form-elements">
        <label for="TeamName">Team Name</label>
        <input type="text" placeholder="Team Name" value="Stormfront"> 
    </div>
    <div class="form-elements">
        <label for="ProjectCategory">Project Category</label>
        <input type="text" placeholder="Project Category" value="COVID-19"> 
    </div>
    <div class="form-elements">
        <label for="Roles">Roles</label>
        <select class="form-select" aria-label="Default select example">
            <option selected value="COMP-3717-Fall-2021">COMP-3717-Fall-2021</option>
            <option value="COMP-3910-Fall-2021">COMP-3910-Fall-2021</option>
            <option value="COMP-4870-Winter-2022">COMP-4870-Winter-2022</option>
            <option value="COMP-4911-Winter-2022">COMP-4911-Winter-2022</option>
        </select>
    </div>
</div>