@page "/Instregister"

<h1>Instructor Register</h1>

<div class="form-element"> @* method="post" *@
    <div class="form-elements">
        <label for="email">Email</label>
        <input type="text" placeholder="email">
    </div>
    <div class="form-elements">
        <label for="Password">Password</label>
        <input type="password" placeholder="Password">
    </div>
    <div class="form-elements">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" placeholder="Confirm Password">
    </div>
    <div>
        <button id="submit-btn">Register</button>
    </div>
</div>

