@page "/resetpassword"

<h1>Reset Instructor's Password</h1>

<div class="form-element">
    <div class="form-elements">
        <input type="text" placeholder="email">
    </div>
    <div class="form-elements">
        <input type="password" placeholder="New Password">
    </div>
    <div class="form-elements">
        <input type="password" placeholder="Confirm Password">
    </div>
    <div>
        <button id="submit-btn">Reset Password</button>
    </div>
</div>
