@page "/resetpassword"

<h1>Reset Instructor's Password</h1>

<div class="form-element">
    <div class="form-elements">
        <label for="email">Email</label>
        <input type="text" placeholder="email">
    </div>
    <div class="form-elements">
        <label for="NewPassword">New Password</label>
        <input type="password" placeholder="New Password">
    </div>
    <div class="form-elements">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" placeholder="Confirm Password">
    </div>
    <div>
        <button id="submit-btn">Reset Password</button>
    </div>
</div>
