@page "/studentlist"
@inject HttpClient httpClient
@using ASPectLibrary

<h1>Student List</h1>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Student Email</th>
                <th>Student Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in users) 
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Email</td>
                    <td>@item.FirstName @item.LastName</td>
                    <td><a type="submit" class="btn btn-primary" href="/editstudents/@item.Id">Edit Student</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    ApplicationUser[] users;
    string baseUrl = "https://localhost:5001/";

    protected override async Task OnInitializedAsync()
    {
        await load();
    }

    protected async Task load()
    {
        users = await httpClient.GetFromJsonAsync<ApplicationUser[]>($"{httpClient.BaseAddress}/Student");
        StateHasChanged();
    }
}