@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Student project tracking system</h1>
</div>

<div>
    <p>Login with:</p>
    <table class="table table-sm">
        <tr>
            <th>Email</th>
            <th>Password</th>
        </tr>
        <tr>
            <td>admin@aspect.com</td>
            <td>Admin12!@@ </td>
        </tr>
        <tr>
            <td>instructor@aspect.com</td>
            <td>Instruct56%^</td>
        </tr>
        <tr>
            <td>student@aspect.com</td>
            <td>Student34#$</td>
        </tr>
    </table>
</div>
